input:active{
    background-color: yellow;
    color: black;
}

input:focus{
    background-color: yellow;
    color: black; 
}

.tableMargin{
    margin:10px;
    
}

thead{
    color: #337AB7;
}

.highlight-Table:hover{
    background-color: black;
    color: white;
}

.highlight-Table:active{
    background-color: yellow;
    color: black;
}